<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{>icon}}
    <title>Weather</title>
</head>
<body>
    {{>header}}
    <div class="main"></div>
    <form action="">
        <input type="text"  id="0" placeholder="search by address" class="textForm" required>
        <button class="search-btn"><i class="fa fa-search" ></i></button>
    </form> 
    
    <p id="m-1"></p>
    <p id="m-2"></p>
    <p id="m-3"></p>
    {{>footer}}
    <script src="js/script.js"></script>
</body>
</html>